{% extends "_layouts/main" %}
{% block main %}
    <main class="hero container">
      <div class="heroContent">
        <div class="heroMainContent">
          <h1 class="">{{ entry.mainHeader}}</h1>
          <div class="flex">
            <h2 class="header-sub-title" id="word"></h2><h2 class="header-sub-title blink">|</h2>
          </div>
          <h3 class="">{{ entry.location }}</h3>          
        </div>
        <div class="heroSubContent">
          <div class="heroCta">
            <h3 class="noMargin">Get in touch</h3>
            <div class="envelopeIcon">
              <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78 60" width="42" height="30">
                <title>image</title>
                <defs>
                  <image width="78" height="60" id="img1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAA8CAMAAAD/nnzlAAAAAXNSR0IB2cksfwAAAEVQTFRFAAAA////////////////////////////////////////////////////////////////////////////////////////Up1zwgAAABd0Uk5TADB/nyC//88Q799AUKCwgNCvkHBgj29fTsFyAAACBUlEQVR4nK3X25KCMAyA4QClHEQRwX3/R13oiaRNQVpyszOr/PNhKwLAOkVZZU9ZgB5Ry1umaVWtu6e2jlhz/W21zfe4ryblAM/tT91C5rSvrfMCtQ6P3Nq6O9TZ6lxfnL//RKeXQOdkJ/JqwiyoyWX6Wrs9wO3hDJ9wm23PpfvafesC+oYl+gT6IqhcP2b4jK3u9xyMyesr3urQCXAOUn3W1tJcos/ZwMtZ36Xvm3C2IJfgQ7Ywd9mHbUzuoo/YuNyl9aU2NnfB59n43M8+3xbJWd9JL7DFcj/5Qls0B59Tn7HV5J+xHMzdsY+zHeRgOPSxtqPcoc/YJv+n+SBXyqjP2GTj7814ztQ4334l771eNOdqoc/amF4sp2vdyHx+xvZsmF4kV9rTNOu7BLbRXtJJj8+V+0nq9ZVfe9Bfb2qOiXtsztm2GcwHWM3LsozmLnVUL4U+LvfVx9s3zeGN7kg/xr3H5IhN+bxb3W52L/m+MOfZFOKDaxNeZ88X5AKbmmKu1Sl3zcd7hfr8HGOzx4lhEMztM/F5ObRDfh7so7m47WiQj+RSbNSHc2k24kO5VBv2dS4nk23IJ2kuzYZ8JJfzoBI+CKTbiM/k/At/qk/n8mzIp3PZNfMAWuvH4+A3+LpuUh17Ab9nBmib+2rbpUTcVtNbV9zke9sFfVRTnzlTpR5H/gH7/zXZD8bKxQAAAABJRU5ErkJggg=="/>
                </defs>
                <style>
                </style>
                <use id="Background" href="#img1" x="0" y="0"/>
              </svg>
            </div>
          </div>
          <div class="heroCta">
            <a href="/#heroAnchor">
              <h3 class="noMargin">Check me out!</h3>
            </a>
            <a href="/#heroAnchor">
              <div class="downCheveronLogo">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="38" height="38">
                  <title>image</title>
                  <style>
                    .s0 { fill: none;stroke: #ffffff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 2 } 
                  </style>
                  <circle id="Layer" class="s0" cx="19" cy="19" r="18.2"/>
                  <path id="Layer" class="s0" d="m26.3 18.9l-7.2 7.4-7.3-7.2"/>
                  <path id="Layer" class="s0" d="m18.9 11.8l0.2 14.5"/>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      <figure class="heroImage">
        <img src="{{ entry.singleImage.one().url }}" alt="Picture of Dylan Ramsey and his dog">
      </figure>
    </main>
    <section>
      <span id="heroAnchor">&nbsp;</span>
      <div class="postHeroHeader container centerText">
        <h3>{{ entry.headerTwo }}</h3>
        <h3>Here are a few of the largest companies I've worked with</h3>
      </div>
    </section>

  <!-- Add in fields for links, alt attrs, and aria-labels -->
  <section>
    <div class="swiper workedWithSlider">
      <div class="swiper-wrapper">
        {% for block in entry.companyLogosMatrix.all() %}
        {% set image = block.logoImage.one() %}
        <div class="swiper-slide" aria-label="">
          <a href="/" target="_blank">
            {% if image %}
              <figure class="companyCard">
                <img src="{{ image.url }}"  alt="" />
              </figure>
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <section class="experience">
    <div class="postHeroHeader container centerText">
      <h3>Here are a few great companies I've been employed with</h3>
    </div>
      <div class="experienceCard">
        <div class="employedBy" role="tablist" aria-label="Employers">
          <button role="tab" class="employeer" aria-selected="true" id="Imarc">Imarc</button>
          <button role="tab" class="employeer" aria-selected="false" id="Accrisoft">Accrisoft</button>          
          <button role="tab" class="employeer" aria-selected="false" id="DigiSphere">DigiSphere</button>
        </div>
        <div class="employedDescriptionList">
          <div class="employedDescription" role="tabpanel" aria-labelledby="Imarc">
              <p>Where I currently work as part of team Zenith maintaining the Breezeline Project</p>
          </div>
          <div class="employedDescription" role="tabpanel" aria-labelledby="Accrisoft" hidden>
              <p>this was another job</p>
          </div>
          <div class="employedDescription" role="tabpanel" aria-labelledby="DigiSphere" hidden>
              <p>This Was my First Job</p>
          </div>
        </div>
      </div>
  </section>
  <section>
    <div class="postHeroHeader container centerText">
      <h3>These are some of my favorite projects I've worked on</h3>
    </div>
    <div class="swiper portfolioSwiper blogPost">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="blogCard">
            <div class="blogCardImage breezelineBlog"></div>
            <div class="blogCardContent">
              <h4>Breezeline</h4>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blogCard">
            <div class="blogCardImage islandBlog"></div>
            <div class="blogCardContent">
              <h4>Island Fin Poke</h4>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blogCard">
            <div class="blogCardImage bdl"></div>
            <div class="blogCardContent">
              <h4>Black Dog Leashes</h4>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button">
      <a href="/portfolio">Learn more</a>
    </button>
    </section>
    <section class="toolCardsSection container">
      <h3 class="postHeroHeader container centerText">
        Here are some of the tools I craft with 
      </h3>
      <div class="toolCards">
        <div class="toolCard">
          <img src="/assets/html5logonoback.png" alt="HTML5 Logo">
        </div>
        <div class="toolCard">
          <img src="/images/uploads/images/css3.webp" alt="CSS Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/javascript-logo.jpeg" alt="Javascript Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/php-logo.jpeg" alt="PHP Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/react-logo.jpeg" alt="React Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/vue-logo.jpeg" alt="Vue Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/jquery-logo.jpg" alt="jQuery Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/tailwind-logo.jpg" alt="Tailwind Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/sass-logo.jpg" alt="Sass Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/git-logo.jpg" alt="Git Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/wordpress-logo.jpg" alt="Wordpress Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/figma-logo.jpg" alt="Figma Logo">
        </div>
      </div>
        <button class="button">
          <a href="/">View more</a>
        </button>
    </section>
    <section class="container">
      <h3 class="postHeroHeader container centerText">
        All of my websites are...
      </h3>
      <div class="standards">
        <div class="standard">
          <h4 class="">Fully mobile responsive</h4>
          <?xml version="1.0" encoding="iso-8859-1"?>
          <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="white" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 74.354 74.354" style="enable-background:new 0 0 74.354 74.354;"
            xml:space="preserve">
          <g>
            <g>
              <path d="M28.725,14.053h-24.2C2.03,14.053,0,16.037,0,18.479v46.814c0,2.441,2.03,4.426,4.525,4.426h24.2
                c2.495,0,4.525-1.984,4.525-4.426V18.478C33.25,16.037,31.22,14.053,28.725,14.053z M30.25,65.293
                c0,0.787-0.684,1.426-1.525,1.426h-24.2C3.684,66.719,3,66.08,3,65.293v-7.074h27.25V65.293z M30.25,55.219H3V23.387h27.25V55.219
                z M30.25,20.387H3v-1.908c0-0.787,0.684-1.426,1.525-1.426h24.2c0.841,0,1.525,0.639,1.525,1.426V20.387z"/>
              <circle cx="16.625" cy="62.074" r="3.063"/>
              <path d="M69.52,4.635H24.522c-2.666,0-4.834,2.17-4.834,4.836v3.58h4v-3.58c0-0.461,0.375-0.836,0.834-0.836H69.52
                c0.461,0,0.834,0.375,0.834,0.836v28.996c0,0.461-0.375,0.836-0.834,0.836H34.717v4h10.305v1.75h-5.875c-1.104,0-2,0.896-2,2
                c0,1.102,0.897,2,2,2h15.625c1.102,0,2-0.898,2-2c0-1.104-0.898-2-2-2h-5.75v-1.75H69.52c2.666,0,4.834-2.17,4.834-4.836V9.47
                C74.354,6.804,72.185,4.635,69.52,4.635z"/>
            </g>
          </svg>

        </div>
        <div class="standard">
          <h4 class="">Accessible to all users</h4>
            <?xml version="1.0" encoding="utf-8"?>

            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="white" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
              <path d="M51.77,75.42c-2.255,1.564-4.988,2.487-7.941,2.487c-7.706,0-13.954-6.248-13.954-13.954c0-2.952,0.922-5.686,2.487-7.94
                l-5.348-5.348c-3.026,3.725-4.852,8.465-4.852,13.639c0,11.967,9.701,21.668,21.667,21.668c5.174,0,9.923-1.816,13.649-4.843
                L51.77,75.42z"/>
              <circle cx="68.862" cy="21.181" r="7.152"/>
              <path d="M73.35,45.582H57.609l8.977-8.978c0.271-0.215,0.515-0.458,0.73-0.729l0.073-0.073l-0.007-0.007
                c0.569-0.752,0.919-1.679,0.919-2.694c0-1.623-0.869-3.031-2.159-3.819l0.001-0.001L46.04,17.675l-0.017,0.03
                C45.459,17.45,44.839,17.3,44.18,17.3c-1.152,0-2.191,0.447-2.986,1.16l-0.006-0.006l-0.06,0.06
                c-0.077,0.072-0.15,0.145-0.222,0.222l-8.865,8.865l0.008,0.008c-0.762,0.804-1.237,1.884-1.237,3.08
                c0,2.479,2.009,4.487,4.487,4.487c1.196,0,2.276-0.475,3.08-1.237l0.008,0.008l0.081-0.081c0.003-0.003,0.005-0.005,0.008-0.008
                l6.457-6.457l5.514,3.184L37.436,43.597c-2.514,0.775-4.823,2.008-6.854,3.582l5.307,5.307c2.255-1.564,4.988-2.487,7.94-2.487
                c7.707,0,13.954,6.248,13.954,13.954c0,2.952-0.922,5.686-2.487,7.94l5.666,5.667c2.839-3.665,4.534-8.261,4.534-13.256
                c0-3.507-0.838-6.816-2.317-9.746h5.683v18.371c0,2.479,2.009,4.488,4.488,4.488c2.479,0,4.488-2.01,4.488-4.488V50.069
                C77.838,47.591,75.828,45.582,73.35,45.582z"/>
            </g>
            </svg>

        </div>
        <div class="standard">
          <h4 class="">Optimized to be lightning fast</h4>
          <?xml version='1.0' encoding='iso-8859-1'?>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 463.008 463.008" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 463.008 463.008">
            <g>
              <g>
                <path d="m461.948,277.176c-5.102-54.26-29.787-105.32-69.508-143.775-39.7-38.435-91.534-61.491-145.954-64.921-32.748-2.063-64.741,2.568-95.101,13.767-29.183,10.764-55.532,27.07-78.317,48.464-22.823,21.43-40.788,46.754-53.396,75.27-13.053,29.522-19.672,60.988-19.672,93.525 0,25.446 4.115,50.473 12.231,74.387 4.285,12.628 16.254,21.113 29.781,21.113h378.973c13.529,0 25.499-8.487 29.786-21.12 10.532-31.035 14.292-63.574 11.177-96.71zm-25.382,91.89c-2.22,6.543-8.481,10.94-15.581,10.94h-378.972c-7.098,0-13.357-4.394-15.576-10.934-7.589-22.357-11.437-45.763-11.437-69.566 0-30.435 6.188-59.86 18.391-87.46 11.791-26.667 28.595-50.354 49.945-70.4 40.581-38.103 92.687-58.644 148.015-58.644 4.708,0 9.442,0.148 14.192,0.448 105.021,6.62 191.634,90.507 201.472,195.13 2.916,31.02-0.599,61.464-10.449,90.486z"/>
                <path d="m323.089,197.441l-96,69.818c-0.519,0.377-0.967,0.814-1.359,1.286-14.622,2.719-25.73,15.563-25.73,30.961 0,17.369 14.131,31.5 31.5,31.5 15.395,0 28.236-11.104 30.959-25.721 0.474-0.393 0.909-0.847 1.288-1.368l69.818-96c2.171-2.984 1.848-7.105-0.762-9.714-2.61-2.61-6.73-2.933-9.714-0.762zm-91.589,118.565c-9.098,0-16.5-7.402-16.5-16.5s7.402-16.5 16.5-16.5 16.5,7.402 16.5,16.5-7.402,16.5-16.5,16.5zm27.745-31.401c-2.93-5.435-7.41-9.914-12.844-12.844l47.096-34.251-34.252,47.095z"/>
                <path d="m415.813,223.161c-0.023-0.055-0.052-0.106-0.076-0.16-9.964-23.905-24.448-45.469-42.381-63.621-0.236-0.328-0.493-0.646-0.788-0.941-0.295-0.295-0.612-0.552-0.94-0.787-18.15-17.932-39.711-32.414-63.612-42.378-0.058-0.026-0.112-0.057-0.17-0.081-0.069-0.029-0.14-0.048-0.21-0.075-23.473-9.729-49.186-15.111-76.136-15.111-26.949,0-52.662,5.383-76.135,15.111-0.07,0.027-0.141,0.046-0.21,0.075-0.059,0.024-0.113,0.055-0.17,0.081-23.901,9.964-45.462,24.446-63.612,42.378-0.328,0.235-0.645,0.492-0.94,0.787-0.295,0.295-0.552,0.613-0.788,0.941-17.934,18.153-32.418,39.717-42.381,63.622-0.024,0.054-0.053,0.104-0.076,0.159-0.027,0.065-0.045,0.132-0.071,0.198-9.732,23.476-15.117,49.193-15.117,76.147 0,19.766 2.909,39.342 8.646,58.185 0.962,3.158 3.874,5.315 7.175,5.315h367.359c3.301,0 6.213-2.158 7.175-5.315 5.736-18.84 8.646-38.417 8.646-58.185 0-26.954-5.385-52.671-15.116-76.147-0.026-0.066-0.044-0.133-0.072-0.198zm-6.277,124.845h-356.071c-3.638-13.374-5.736-27.117-6.296-41h16.331c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-16.335c0.79-19.645 4.654-38.51 11.143-56.12l15.11,6.259c0.938,0.389 1.91,0.573 2.867,0.573 2.943,0 5.735-1.744 6.932-4.632 1.586-3.827-0.231-8.214-4.059-9.799l-15.082-6.247c8.125-17.491 18.91-33.502 31.835-47.515l11.491,11.491c1.465,1.464 3.385,2.197 5.304,2.197s3.839-0.732 5.304-2.197c2.929-2.929 2.929-7.678 0-10.606l-11.492-11.492c14.012-12.926 30.024-23.71 47.515-31.835l6.248,15.083c1.196,2.888 3.988,4.632 6.932,4.632 0.956,0 1.929-0.184 2.867-0.573 3.827-1.585 5.645-5.973 4.059-9.799l-6.259-15.109c17.61-6.49 36.476-10.354 56.121-11.144v16.335c0,4.142 3.357,7.5 7.5,7.5s7.5-3.358 7.5-7.5v-16.335c19.645,0.79 38.511,4.654 56.121,11.144l-6.259,15.109c-1.586,3.827 0.231,8.214 4.059,9.799 0.938,0.389 1.91,0.573 2.867,0.573 2.943,0 5.735-1.744 6.932-4.632l6.248-15.083c17.491,8.125 33.502,18.91 47.515,31.835l-11.492,11.492c-2.929,2.929-2.929,7.678 0,10.606 1.465,1.464 3.385,2.197 5.304,2.197s3.839-0.732 5.304-2.197l11.491-11.491c12.926,14.012 23.71,30.024 31.835,47.515l-15.082,6.247c-3.827,1.585-5.645,5.973-4.059,9.799 1.196,2.888 3.988,4.632 6.932,4.632 0.956,0 1.929-0.184 2.867-0.573l15.11-6.259c6.489,17.61 10.354,36.476 11.143,56.12h-16.337c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16.332c-0.561,13.885-2.659,27.627-6.296,41z"/>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <button class="button">
        <a href="/portfolio">Learn more</a>
      </button>
    </section>
    <section class="services container">
      <div class="centerText">
        <h3 class="">Ready to create something special together?</h3>
        <h4 class="">Feel free to shoot an email over to me at dylanbradramsey@gmail.com</h4>
        <h4 class="">Want to read more about what I do and my specialties in depth? </h4>
        <h4 class="">Check out my services page</h4>
      </div>
      <button class="button">
        <a href="/services">Learn more</a>
      </button>
    </section>
    <section class="testimonials">
      <h3 class="postHeroHeader container centerText">
        Some nice things cool people have said about me
      </h3>
      <div class="swiper testimonialSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial">
              <h4 class="italic">"Dylan is really cool"</h4>
              <p class="testimonialCopy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis tortor ut nunc fermentum, 
                eleifend consectetur dui aliquam. Cras porta elementum imperdiet. Donec volutpat lacus et dolor 
                maximus gravida. Pellentesque feugiat dignissim mollis. In cursus ullamcorper mauris a fermentum.
              </p>
              <h5 class="italic">-CEO Man, Cool Company</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial">
              <h4 class="italic">"Dylan is really cool"</h4>
              <p class="testimonialCopy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis tortor ut nunc fermentum, 
                eleifend consectetur dui aliquam. Cras porta elementum imperdiet. Donec volutpat lacus et dolor 
                maximus gravida. Pellentesque feugiat dignissim mollis. In cursus ullamcorper mauris a fermentum.
              </p>
              <h5 class="italic">-CEO Man, Cool Company</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial">
              <h4 class="italic">"Dylan is really cool"</h4>
              <p class="testimonialCopy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis tortor ut nunc fermentum, 
                eleifend consectetur dui aliquam. Cras porta elementum imperdiet. Donec volutpat lacus et dolor 
                maximus gravida. Pellentesque feugiat dignissim mollis. In cursus ullamcorper mauris a fermentum.
              </p>
              <h5 class="italic">-CEO Man, Cool Company</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %} 